@charset "UTF-8";

/* Noto Sans KR */
@font-face {
	font-family:'NotoSans';
	font-style:normal;
	font-weight:100;
	src:local('Noto Sans Thin'),
		url('./NotoSans-Thin.otf') format('opentype'),
		url('./NotoSans-Thin.woff2') format('woff2'),
		url('./NotoSans-Thin.woff') format('woff');
}

@font-face {
	font-family:'NotoSans';
	font-style:normal;
	font-weight:300;
	src:local('Noto Sans Light'),
		url('./NotoSans-Light.otf') format('opentype'),
		url('./NotoSans-Light.woff2') format('woff2'),
		url('./NotoSans-Light.woff') format('woff');
		
}

@font-face {
	font-family:'NotoSans';
	font-style:normal;
	font-weight:400;
	src:local('Noto Sans Regular'),
		url('./NotoSans-Regular.otf') format('opentype'),
		url('./NotoSans-Regular.woff2') format('woff2'),
		url('./NotoSans-Regular.woff') format('woff');
}

@font-face {
	font-family:'NotoSans';
	font-style:normal;
	font-weight:500;
	src:local('Noto Sans Medium'),
		url('./NotoSans-Medium.otf') format('opentype'),
		url('./NotoSans-Medium.woff2') format('woff2'),
		url('./NotoSans-Medium.woff') format('woff');
}

@font-face {
	font-family:'NotoSans';
	font-style:normal;
	font-weight:700;
	src:local('Noto Sans Bold'),
		url('./NotoSans-Bold.otf') format('opentype'),
		url('./NotoSans-Bold.woff2') format('woff2'),
		url('./NotoSans-Bold.woff') format('woff');
}
